<div class="list-group">
    <a href="#" class="list-group-item bg-danger text-white">
        User
    </a>

    <a asp-page="/index" asp-area="user" class="list-group-item"><strong>Dashboard</strong></a>
    <a asp-page="/posts/Create" asp-area="user" class="list-group-item">Upload Photo</a>
    <a asp-page="/posts/Index" asp-area="user" class="list-group-item">My Photos</a>
    <a asp-page="/profile/Index" asp-area="user" class="list-group-item">Profile</a>

</div>