@page
@model Portal.Web.Areas.User.Pages.Profile.IndexModel
@{
    ViewData["title"] = "Profile";
}

<h1>Profile</h1>

<p>
    First Name : @User.Claims.FirstOrDefault(c=>c.Type=="FirstName")?.Value
</p>
<p>
    Last Name : @User.Claims.FirstOrDefault(c => c.Type == "LastName")?.Value
</p>
<p>
    Email : @Model.Email
</p>

<a asp-page="edit" asp-area="user" class="btn btn-primary">Edit</a>